body{
  background-color: #e9ecef;
}

.login-wrap{
	width: 100%;
	margin:auto;
	max-width:510px;
  min-height:410px;
  background-color: #f9f9f9;
  position:relative;
	box-shadow:0 12px 15px 0 rgba(0,0,0,.24),0 17px 50px 0 rgba(0,0,0,.19);
}

.login-html{
	width:100%;
	height:100%;
	position:absolute;
	padding: 4em;
	
}

.login-wrap2{
	width: 100%;
	margin:auto;
	max-width:510px;
  min-height:46em;
  background-color: #f9f9f9;
  position:relative;
	box-shadow:0 12px 15px 0 rgba(0,0,0,.24),0 17px 50px 0 rgba(0,0,0,.19);
}

.login-html h2{

color: #212121;
font-weight: 20px;
}

.navbar {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 0.5rem 1rem;
}

.sidebar {
	width: 13em;
	background-color: #ff8800 !important;
	min-height: calc(150vh - 56px);
}

.navbar-nav {
	/* display: -webkit-box;
	display: -ms-flexbox;
	display: flex; */
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	padding-left: 0;
	margin-bottom: 0;
	list-style: none;

}

.sidebar .nav-item .nav-link {
	text-align: center;
	padding: 0.75rem 1rem;
	width: 90px;
}

/* #wrapper {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
} */
.fa, .fas {
	font-weight: 900;
}
.sidebar a{
	font-size: 1.5em;
	color: #ffffff;
	padding-right: 30px;
}

#wrapper #content-wrapper {
	overflow-x: hidden;
	width: 100%;
	padding-top: 1rem;
	padding-bottom: 80px;
}

.navbar a {
	color: #ffffff;
	font-size: 1.2em;
}
.navbar i {
	color: #ffffff;
	font-size: 1.6em;
}


.card h2{
	font-size: 2em;
	color:#4285f4;
}